/* ----  Make most desired things base transparent  ---- */
popover,
popover > box,
.main-window,
.base-container,
.body-container,
.center-container,
.header-container,
.footer-container,
.left-containerm,
.right-container {
    background: rgba(0, 0, 0, 0.0);
    color: rgba(255, 255, 255, 1);
}

.base-container {
    margin: 10px;
}




/* * selection {
    background-color: rgba(116, 0, 0, 0.65);
    color: rgba(255, 255, 255, 0.5);
} */

/* Rubberband coloring */
/* .rubberband,
rubberband,
flowbox rubberband,
treeview.view rubberband,
.content-view rubberband,
.content-view .rubberband,
XfdesktopIconView.view .rubberband {
    border: 1px solid #6c6c6c;
    background-color: rgba(21, 158, 167, 0.57);
}

XfdesktopIconView.view:active {
    background-color: rgba(172, 102, 21, 1);
} */




.mw_transparency_1 { background: rgba(39, 43, 52, 0.1);  }
.mw_transparency_2 { background: rgba(39, 43, 52, 0.2);  }
.mw_transparency_3 { background: rgba(39, 43, 52, 0.3);  }
.mw_transparency_4 { background: rgba(39, 43, 52, 0.4);  }
.mw_transparency_5 { background: rgba(39, 43, 52, 0.5);  }
.mw_transparency_6 { background: rgba(39, 43, 52, 0.6);  }
.mw_transparency_7 { background: rgba(39, 43, 52, 0.7);  }
.mw_transparency_8 { background: rgba(39, 43, 52, 0.8);  }
.mw_transparency_9 { background: rgba(39, 43, 52, 0.9);  }
.mw_transparency_10 { background: rgba(39, 43, 52, 0.10);  }
.mw_transparency_11 { background: rgba(39, 43, 52, 0.11);  }
.mw_transparency_12 { background: rgba(39, 43, 52, 0.12);  }
.mw_transparency_13 { background: rgba(39, 43, 52, 0.13);  }
.mw_transparency_14 { background: rgba(39, 43, 52, 0.14);  }
.mw_transparency_15 { background: rgba(39, 43, 52, 0.15);  }
.mw_transparency_16 { background: rgba(39, 43, 52, 0.16);  }
.mw_transparency_17 { background: rgba(39, 43, 52, 0.17);  }
.mw_transparency_18 { background: rgba(39, 43, 52, 0.18);  }
.mw_transparency_19 { background: rgba(39, 43, 52, 0.19);  }
.mw_transparency_20 { background: rgba(39, 43, 52, 0.20);  }
.mw_transparency_21 { background: rgba(39, 43, 52, 0.21);  }
.mw_transparency_22 { background: rgba(39, 43, 52, 0.22);  }
.mw_transparency_23 { background: rgba(39, 43, 52, 0.23);  }
.mw_transparency_24 { background: rgba(39, 43, 52, 0.24);  }
.mw_transparency_25 { background: rgba(39, 43, 52, 0.25);  }
.mw_transparency_26 { background: rgba(39, 43, 52, 0.26);  }
.mw_transparency_27 { background: rgba(39, 43, 52, 0.27);  }
.mw_transparency_28 { background: rgba(39, 43, 52, 0.28);  }
.mw_transparency_29 { background: rgba(39, 43, 52, 0.29);  }
.mw_transparency_30 { background: rgba(39, 43, 52, 0.30);  }
.mw_transparency_31 { background: rgba(39, 43, 52, 0.31);  }
.mw_transparency_32 { background: rgba(39, 43, 52, 0.32);  }
.mw_transparency_33 { background: rgba(39, 43, 52, 0.33);  }
.mw_transparency_34 { background: rgba(39, 43, 52, 0.34);  }
.mw_transparency_35 { background: rgba(39, 43, 52, 0.35);  }
.mw_transparency_36 { background: rgba(39, 43, 52, 0.36);  }
.mw_transparency_37 { background: rgba(39, 43, 52, 0.37);  }
.mw_transparency_38 { background: rgba(39, 43, 52, 0.38);  }
.mw_transparency_39 { background: rgba(39, 43, 52, 0.39);  }
.mw_transparency_40 { background: rgba(39, 43, 52, 0.40);  }
.mw_transparency_41 { background: rgba(39, 43, 52, 0.41);  }
.mw_transparency_42 { background: rgba(39, 43, 52, 0.42);  }
.mw_transparency_43 { background: rgba(39, 43, 52, 0.43);  }
.mw_transparency_44 { background: rgba(39, 43, 52, 0.44);  }
.mw_transparency_45 { background: rgba(39, 43, 52, 0.45);  }
.mw_transparency_46 { background: rgba(39, 43, 52, 0.46);  }
.mw_transparency_47 { background: rgba(39, 43, 52, 0.47);  }
.mw_transparency_48 { background: rgba(39, 43, 52, 0.48);  }
.mw_transparency_49 { background: rgba(39, 43, 52, 0.49);  }
.mw_transparency_50 { background: rgba(39, 43, 52, 0.50);  }
.mw_transparency_51 { background: rgba(39, 43, 52, 0.51);  }
.mw_transparency_52 { background: rgba(39, 43, 52, 0.52);  }
.mw_transparency_53 { background: rgba(39, 43, 52, 0.53);  }
.mw_transparency_54 { background: rgba(39, 43, 52, 0.54);  }
.mw_transparency_55 { background: rgba(39, 43, 52, 0.55);  }
.mw_transparency_56 { background: rgba(39, 43, 52, 0.56);  }
.mw_transparency_57 { background: rgba(39, 43, 52, 0.57);  }
.mw_transparency_58 { background: rgba(39, 43, 52, 0.58);  }
.mw_transparency_59 { background: rgba(39, 43, 52, 0.59);  }
.mw_transparency_60 { background: rgba(39, 43, 52, 0.60);  }
.mw_transparency_61 { background: rgba(39, 43, 52, 0.61);  }
.mw_transparency_62 { background: rgba(39, 43, 52, 0.62);  }
.mw_transparency_63 { background: rgba(39, 43, 52, 0.63);  }
.mw_transparency_64 { background: rgba(39, 43, 52, 0.64);  }
.mw_transparency_65 { background: rgba(39, 43, 52, 0.65);  }
.mw_transparency_66 { background: rgba(39, 43, 52, 0.66);  }
.mw_transparency_67 { background: rgba(39, 43, 52, 0.67);  }
.mw_transparency_68 { background: rgba(39, 43, 52, 0.68);  }
.mw_transparency_69 { background: rgba(39, 43, 52, 0.69);  }
.mw_transparency_70 { background: rgba(39, 43, 52, 0.70);  }
.mw_transparency_71 { background: rgba(39, 43, 52, 0.71);  }
.mw_transparency_72 { background: rgba(39, 43, 52, 0.72);  }
.mw_transparency_73 { background: rgba(39, 43, 52, 0.73);  }
.mw_transparency_74 { background: rgba(39, 43, 52, 0.74);  }
.mw_transparency_75 { background: rgba(39, 43, 52, 0.75);  }
.mw_transparency_76 { background: rgba(39, 43, 52, 0.76);  }
.mw_transparency_77 { background: rgba(39, 43, 52, 0.77);  }
.mw_transparency_78 { background: rgba(39, 43, 52, 0.78);  }
.mw_transparency_79 { background: rgba(39, 43, 52, 0.79);  }
.mw_transparency_80 { background: rgba(39, 43, 52, 0.80);  }
.mw_transparency_81 { background: rgba(39, 43, 52, 0.81);  }
.mw_transparency_82 { background: rgba(39, 43, 52, 0.82);  }
.mw_transparency_83 { background: rgba(39, 43, 52, 0.83);  }
.mw_transparency_84 { background: rgba(39, 43, 52, 0.84);  }
.mw_transparency_85 { background: rgba(39, 43, 52, 0.85);  }
.mw_transparency_86 { background: rgba(39, 43, 52, 0.86);  }
.mw_transparency_87 { background: rgba(39, 43, 52, 0.87);  }
.mw_transparency_88 { background: rgba(39, 43, 52, 0.88);  }
.mw_transparency_89 { background: rgba(39, 43, 52, 0.89);  }
.mw_transparency_90 { background: rgba(39, 43, 52, 0.90);  }
.mw_transparency_91 { background: rgba(39, 43, 52, 0.91);  }
.mw_transparency_92 { background: rgba(39, 43, 52, 0.92);  }
.mw_transparency_93 { background: rgba(39, 43, 52, 0.93);  }
.mw_transparency_94 { background: rgba(39, 43, 52, 0.94);  }
.mw_transparency_95 { background: rgba(39, 43, 52, 0.95);  }
.mw_transparency_96 { background: rgba(39, 43, 52, 0.96);  }
.mw_transparency_97 { background: rgba(39, 43, 52, 0.97);  }
.mw_transparency_98 { background: rgba(39, 43, 52, 0.98);  }
.mw_transparency_99 { background: rgba(39, 43, 52, 0.99);  }
.mw_transparency_100 { background: rgba(39, 43, 52, 1.00); }